<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Moduel3_SearchProduct_Test.tutorialsninja_SearchProduct_Test"/>
      <class name="Module1_LoginPage_Test.tutorialsninja_HomePage_Test"/>
      <class name="Module2_RegisterPage_Test.tutorialsninja_RegisterPage_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
